<div class="row">
  <div class="all-info-container">
    <img src="{{ profilePicture }}" alt="profilePicture" />
    {{ bio }}
  </div>

  <div class="all-info-container">
    <div class="info-container">
      <div class="rectangle">username</div>
      <span style="margin-left: 0.5vw">{{ gitUsername }}</span>
    </div>

    <div class="info-container">
      <div class="rectangle">name</div>
      <span style="margin-left: 0.5vw">{{ name }}</span>
    </div>

    <div class="info-container">
      <div class="rectangle">location</div>
      <span style="margin-left: 0.5vw">{{ location }}</span>
    </div>

    <div class="info-container">
      <div class="rectangle">titles</div>
      <span style="margin-left: 0.5vw">{{ titles }}</span>
    </div>

    <div class="info-container">
      <div class="rectangle">fav language</div>
      <span style="margin-left: 0.5vw">{{ favLang }}</span>
    </div>

    <div class="info-container">
      <div class="rectangle">total stars</div>
      <span style="margin-left: 0.5vw">{{ totalStars }}</span>
    </div>

    <div class="info-container">
      <div class="rectangle">highest star count</div>
      <span style="margin-left: 0.5vw">{{ highestStarCount }}</span>
    </div>

    <div class="info-container">
      <div class="rectangle">public repos</div>
      <span style="margin-left: 0.5vw">{{ publicRepos }}</span>
    </div>

    <div class="info-container">
      <div class="rectangle">perfect repos</div>
      <span style="margin-left: 0.5vw">{{ perfectRepos }}</span>
    </div>

    <div class="info-container">
      <div class="rectangle">followers</div>
      <span style="margin-left: 0.5vw">{{ followers }}</span>
    </div>

    <div class="info-container">
      <div class="rectangle">following</div>
      <span style="margin-left: 0.5vw">{{ following }}</span>
    </div>
  </div>
</div>
